requests
beautifulsoup4
lxml
tqdm
pandas
numpy<2.0.0
pyarrow
spacy
scikit-learn
streamlit>=1.30.0
wordcloud
matplotlib
python-dotenv
openai
altair==4.2.2

https://github.com/explosion/spacy-models/releases/download/fr_core_news_md-3.7.0/fr_core_news_md-3.7.0-py3-none-any.whl