requests
beautifulsoup4
lxml
tqdm
pandas
numpy
pyarrow
spacy
scikit-learn
streamlit
wordcloud
matplotlib
python-dotenv
openai
altair==4.2.2

https://github.com/explosion/spacy-models/releases/download/fr_core_news_md-3.7.0/fr_core_news_md-3.7.0-py3-none-any.whl